@import("ace-css/css/ace")
@import("./assets/css/tooltip.styl")

$black-50 = rgba(black, .03)
$black-100 = rgba(black, .1)
$black-200 = rgba(black, .2)
$black-400 = rgba(black, .4)
$blue-primary = rgb(69, 192, 245)
$blue-shadow = rgb(90, 100, 110)
$green-primary = rgb(19, 183, 175)
$red-primary = rgb(255, 80, 70)
$yellow-primary = rgb(255, 190, 0)

body
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  font-size 14px
input
  outline none
.flex-pr2 > *
  padding-right 2em
.btn-primary
  background-color $blue-primary
.thin
  font-weight 200
.bg-mask
  background-color $black-400
.bg-silver
  background-color $black-50
.bg-blue
  background-color $blue-primary
.bg-green
  background-color $green-primary
.bg-red
  background-color $red-primary
.bg-yellow
  background-color $yellow-primary
.gray
  color $blue-shadow
.round50
  border-radius 50px
.upcase
  text-transform uppercase
.shadow1
  box-shadow 0 2px 4px 0 $black-100
.shadow0
  box-shadow 0 0 2px 0 $black-100
.transition
  transition all .25s ease
.op0
  opacity 0
.blur
  filter blur(4px)
.pointer
  cursor pointer
.xy0
  will-change transform
.y200, .y200-ch > div
  transform translateY(-200%)
.y20
  transform translateY(-20%)
.inset-left, .h-inset-left:hover
  box-shadow inset 2px 0 0 0 $blue-primary
.l50
  left 50%
.h100
  height 100%
.w100
  width 100%
.py15
  padding-top: 0.75em
  padding-bottom: 0.75em
.fill
  top 0
  bottom 0
  left 0
  right 0
.spin
  animation spin 1s infinite linear
input:valid ~ .nudge, input:focus ~ .nudge, .nudge.active
  transform translate(-12%, -50%) scale(0.75)
.input-line
  background linear-gradient($blue-primary, $blue-primary) center bottom/0 2px no-repeat,
    linear-gradient($black-200, $black-200) center bottom/100% 1px no-repeat
  &:focus, &:hover:not(:disabled), &.active
    background-size 100% 2px, 100% 1px

@keyframes spin
  100%
    transform rotate(360deg)
