@import("ace-css/css/ace")
@import("./assets/css/tooltip.styl")

$black-50 = rgba(black, .03)
$black-100 = rgba(black, .1)
$black-200 = rgba(black, .2)
$black-400 = rgba(black, .4)
$blue-primary = rgb(69, 192, 245)
$blue-shadow = rgb(90, 100, 110)
$green-primary = rgb(19, 183, 175)
$red-primary = rgb(255, 80, 70)
$yellow-primary = rgb(255, 190, 0)

body
  font-family "Open Sans", "Helvetica", "Arial", sans-serif
  font-size 14px
input
  outline none

// Helpers

.btn-primary
  background-color $blue-primary
.thin
  font-weight 200
.bg-mask
  background-color $black-400
.bg-silver
  background-color $black-50
.bg-blue
  background-color $blue-primary
.bg-green
  background-color $green-primary
.bg-red
  background-color $red-primary
.bg-yellow
  background-color $yellow-primary
.border-top-silver
  border-top-color $black-50
.border-top-grey
  border-top solid $black-100
.border2
  border-width 2px
.border4
  border-width 4px
.round50
  border-radius 50px
.shadow0
  box-shadow 0 0 2px 0 $black-100
.shadow1
  box-shadow 0 4px 6px 0 $black-100
.shadow2
  box-shadow 2px 10px 16px 1px $black-200
.op0
  opacity 0
.l50
  left 50%
.h100
  height 100%
.y1
  height 1rem
.y2
  height 2rem
.x2
  width 2rem
.x4
  width 4rem
.p2x
  padding 2px
.p4x
  padding 4px
.p6x
  padding 6px
.w100
  width 100%
.m-auto
  margin auto
.upcase
  text-transform uppercase
.transition
  transition all .25s ease
.blur
  filter blur(4px)
.pointer
  cursor pointer
.noclick
  pointer-events none
.fill
  top 0
  bottom 0
  left 0
  right 0
.spin
  animation spin 1s infinite linear
  @keyframes spin
    100%
      transform rotate(360deg)
input:valid ~ .nudge
input:focus ~ .nudge
.nudge.active
  transform translate(-12%, -50%) scale(0.75)
.input-line
  background linear-gradient($blue-primary, $blue-primary) center bottom/0 2px no-repeat,
    linear-gradient($black-400, $black-400) center bottom/100% 1px no-repeat
  &:focus:not(:disabled)
  &:hover:not(:disabled)
  &.active
    background-size 100% 2px, 100% 1px

.gutters > *:not(:last-child)
  padding-right 1em
